<img 
    src="https://firebasestorage.googleapis.com/v0/b/nic-heart-me.appspot.com/o/me3.2.png?alt=media&token=09eeee27-f83a-4a25-8915-8e391567f79f" 
    class="img-thumbnail"
/>
        <p>
            I or Nicolas Gerhardt (I'm never sure if it should be in the first or thrid person) is an avid coffee drinker, puzzle solver and armchair philosopher. 
            When not trying to solve things from various angles, he runs a biweekly Tabletop Roleplaying game for his loyal group of players. 
            Despite all of this, Nic is always easy going, upbeat, and down for a new experience. 
        </p>
        <p>
            Nic is currently enrolled in the DevBuild(3.0) program, Sponsored by Quicken loans in conjunction with Grand Circus, to become a full stack software developer using the C#.Net and related technologies.
            With over 20 years of customer service experience in many different fields and nearly 10 years of IT support experience, Nic brings a unique perspective when it comes to troubleshooting and evaluating clients needs.
        </p>
