<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">Hello World</div>
    <p class="card-text">
        Well I'm creating a website for my Grand Circus class, and we are hard coding html sites. I'm not yet using any sort of content management system, so this is all just written directly into the html and hosted on GitHub. I setup a GitHub pages site a while ago, so I was able to easily get this up and going.  
        <br />
            One big thing that is a challenge for this lab is coming up with content for a website in a short period of time. But Content generation is what I need to do so this is content for you to consume. 
        </p>
        <div class="card-footer text-muted">
            March 24, 2020
          </div>
    </div>